<!DOCTYPE html>
<html>
<head>
<style>
.center {
  text-align: center;
  color: red;
}
</style>
</head>
<body>

<h1 class="center">Welcom to Pet Shelter</h1>
<p class="center">We rescue a variaty of animals and re-house to loving homes.</p>


</body>
</html>
