<!DOCTYPE html>
<html>
<head>
<style>
.center {
  text-align: center;
  color: #6B7A8F: ;
}
</style>
</head>
<body>

<h1 class="center">Welcome to Pet Shelter</h1>
<p class="center">We rescue a variaty of animals and re-house to loving homes.</p>
<p align="center"><img src="anusha-barwa-ppKcYi1CXcI-unsplash (2).jpg" width="300" height="400" alt="cat and dog">
</p>


</body>
</html>
