
<% @owner.each do |owner| %>



<p>Owner name: <%= owner.owner_name %></p>

<% owner.animal.map {|animal| animal.name} %>

<p>Animals: <%= owner.animal.length %></p>

<% owner.animal.each do |animal| %>
	name: <%= animal.name %>

<br>

<% end %>

	<% end %>
