body{
	  background-color: #DCC7AA;
	  font: 22px Helvetica;
		color: #F7882F;
		/* border: 3px solid grey; */
	  padding: 10px;
	  width: 70%;
	  margin-bottom: 40px;

}

span {
  color: white;
  background-color: #6B7A8F;
}

button {
  height: 48px;
  font-size: 18px;
  width: 150px;
  padding: 17px;
}

p.a{
	font-style: italic;
}

nav {
	text-align: center;
  font: #6B7A8F}

nav li {
	display: inline-block;
  padding: 20px;
  color: #6B7A8F;}
	
	#resp-table {
	width: 100%;
	display: table;
	}
